.all_products_wrapper{
  padding:5px;
  margin: 5px;
  position: relative;
}

.date_disp{
  position: absolute;
  top: -32px;
  font-size: 12px;
  width: 150px
}

.time_disp{
  position: absolute;
  top: -16px;
  font-size: 12px;
}

.vertical_line{
  height: 200px;
  position: absolute;
  width: 100px;
  height: 500px;
  top: 0px;
  left : 360px;
  border-left: solid 1px gray;
  z-index: -1; 
}


.product_wrapper{
  padding:5px;
  margin: 5px;
}

.issue_wrapper{
  padding:5px;
  margin: 5px;
  display:flex;
  /* flex-direction: row; */
  /* justify-content: start; */
}

.issue_title{
  padding:5px;
  margin: 5px;
  min-width: 300px;
  display: block;
  /* white-space: nowrap; */
  /* width: 500px; */
  /* min-width: 300px; */
  /* position: fixed; */
}

.task_wrapper{
  padding:5px;
  margin: 5px;
}

.task_block{
  padding:5px;
  margin: 5px;
}

.task_bar{
  height: 10px;
  background-color: lightblue;
}

.task_character{
  white-space: nowrap;
}

