<% if user_signed_in? %>
　　<%= current_user.nickname %>のトップページ
<% end %>

<h1>Issues#index</h1>
<%= link_to '担当部品を新規登録', new_product_path%>

<br>
<% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %>
<% end %>