<div class = "product" id = <%= "product_#{product_id}"%>>
  <%= link_to product.name, edit_user_product_path(product.user_id, product.id) %>
  ：<%= link_to '課題を新規登録する', new_user_product_issue_path(product.user_id, product.id) %>
</div>