<h1>Product#edit</h1>
<%= form_with model: @product, url: product_path(@product.id), method: :patch, local: true do |f| %>
  部品名：<%= f.text_field :name , placeholder:"例）CTR PLR", value:@product.name %>
<%= f.submit "更新する" %>
<%=link_to 'もどる', issues_path %>
<% end %>