.all_wrapper{
  display: flex;
}

.side{
  padding:5px;
  /* margin: 5px; */
  position: relative;
  width: 400px;
  background-color: whitesmoke;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: +3;
}

.now{
  background-color: whitesmoke;
  padding: 5px;
  margin-top: 5px;
  display: inline-block;
  /* margin-left: 60px; */
  border: solid 1px gray;
}

.product{
  padding:5px;
  margin: 5px;
  border: solid 2px gray;
  display: flex;
  justify-content: space-between;
}

.add_issue{
  border: solid 1px gray;
  padding: 3px;
  background-color:pink;
}

.issue{
  padding:5px;
  margin: 5px;
  border-bottom: solid 1px gray;
}

.issue-commands-wrapper{
  display: flex;
  justify-content: flex-end;
}

.issue-commands{
  display: flex;
  flex-direction: column;
}

.issue-command-edit{
  border: solid 1px gray;
  background-color:pink;
}

.issue-command-add-task{
  border: solid 1px gray;
  background-color: lightgoldenrodyellow;
}

.task-text{
  width: 500px;
}

.main{
  padding:5px;
  margin: 5px;
  position: relative;
}

.day{
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.date_disp{
  position: absolute;
  top: 0px;
  font-size: 12px;
  background-color: transparent;
  width: 150px;
  z-index: +2; 
  /* javascriptで可視化します */
  visibility: hidden;
}

.time_disp{
  position: absolute;
  top: 15px;
  font-size: 14px;
  background-color: transparent;
  z-index: +2;
  /* javascriptで可視化します */
  visibility: hidden;
}

.vertical_line{
  height: 200px;
  position: absolute;
  width: 60px;
  top: 0px;
  border-left: solid 1px gray;
  z-index: -1;
  /* javascriptで可視化します */
  visibility: hidden;
}

.task{
  position: absolute;
  white-space: nowrap;
  z-index: +1;
  /* javascriptで可視化します */
  visibility: hidden;
}

.bar{
  height: 10px;
  background-color: lightblue;
  z-index: +2; 
  /* javascriptで可視化します */
  visibility: hidden;
}