/* editとも共用 */
.registration-product-wrapper{
  background-color: whitesmoke;
}

.registration-product-title{
  font-size: 20px;
}

.product-name{
  width: 380px;
}

.registration-product-bottom{
  display: flex;
  justify-content: space-between;
  width: 530px;
}